# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=5434

# Redis
REDIS_PORT=6381

# Auth Service
AUTH_SERVICE_PORT=3001
JWT_SECRET=your_jwt_secret_key_min_32_chars
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Schedule Service
SCHEDULE_SERVICE_PORT=3002
